<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>user rent</title>
  </head>
  <body>
    <h1>User rent</h1>
    <p>Name: {{user.Name}}</p>
    <p>CardId: {{request.args.get("card_id")}}</p>

    <form action="#" method="post">
      <div class="form-group">
        <label for="bike_serial">Bike serial:</label>
        <input
          id="bike_serial"
          class="form-control"
          type="text"
          placeholder="Bike serial"
          name="bsf"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </body>
</html>
